@font-face {
  font-family: 'akbarplain';
  src: url('/fonts/akbar-webfont.woff2') format('woff2'),
    url('/fonts/akbar-webfont.woff') format('woff'),
    url('/fonts/akbar-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--theme-background);
  color: var(--theme-text);
}
