.multiChoiceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.multiChoiceButton {
  background-color: var(--box-color);

  &:hover {
    background-color: var(--box-color-hover);
  }
}
