.shareBox {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 300px;
  margin-top: 1rem;

  & div {
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
}

.linkShareWrapper {
  background-color: transparent;
  border: none;
  padding: 0px;
  font: inherit;
  color: inherit;
  cursor: pointer;
  user-select: none;

  width: 32px;
  height: 38px;

  margin: auto 0;

  & div {
    width: 31px;
    height: 31px;
    margin-top: 2px;

    border-radius: 100%;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
