.bannerImage {
  max-width: 600px;
  width: 80%;
  display: block;
  margin: 2rem auto;

  path:not(:global(.brand_svg__cls-1)) {
    fill: var(--theme-text);
  }

  path:global(.brand_svg__cls-1) {
    fill: var(--theme-primary);
  }
}

.centreDiv {
  text-align: center;
}
